$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
.cards {
    display: flex;
    flex-wrap: wrap;       /* Sallii korttien hyppiä seuraavalle riville puhelimella */
    gap: 50px;             /* Jättää korttien väliin ilmarakoa */
    justify-content: center; /* Keskittää kortit näytölle */
    padding: 50px;
}