$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
.card-img-top {
    width: 100% !important;  /* Kuva täyttää aina kortin leveyden */
    height: 200px !important; /* Pakotetaan kuvat samanpituiseksi (valinnainen) */
    object-fit: cover;       /* Pitää kuvan kuvasuhteen siistinä, vaikka sitä rajattaisiin */
}